body{
    background-color: #fff;
}
header
{
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px #efefef;
}
.add-multipliable-input,
.remove-multipliable-input
{
    position: absolute;
    left: 20px;
    bottom: 7px;
}
.remove-multipliable-input
{
    left: 0;
}
.multipliable-input-container
{
    position: relative;
}
.multipliable-input
{
    width: 90%;
    margin-bottom: 15px;
}
.table .thead
{
    font-weight: bold;
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px solid #c0c0c0;
}
.table .tr
{
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.table .tr:nth-child(2n)
{
    background-color: #fafafa;
}
.desc
{
    color: #777;
    font-size: 12px;
}

.tab-content{
    padding: 30px;
    min-height: 700px;
}

.block{
    display: block;
}