@media all and (max-width: 850px) {
    .sidebar ul.sidebar-dropdown > li{
        padding-right: 15px;
    }
    .sidebar > div > div{
        padding-right: 40px;
    }
    .sidebar > div [class*="icon-"]{
        right: 10px;
    }
}
@media all and (max-width: 991px) {
    header {
        background-color: #fff;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
    .main{
        width: 100% !important;
    }
    .logo-box {
        width: 240px;
    }
}
@media all and (max-width: 767px) {
    .app-carousel .owl-item {
        text-align: center;
    }
    .app-carousel .app-item {
        float: none !important;
    }
    .logo-box {
        width: 200px;
    }
    header ,
    header .logo-box,
    header .mobile-nav,
    header .mobile-nav.nav > li{
        height: 60px;
    }
    header .logo-box img{
        height: 50px;
    }
    .mobile-search form#mobile-search-form{
        height: 60px;
        padding:0;
    }
    .mobile-search .form-group input{
        height: 60px;
        padding: 0 45px;
    }
}
@media all and (max-width: 400px) {
    header .mobile-nav.nav > li{
        width: 40px;
    }
}

@media all and (min-width: 768px) {
    .sidebar {
        width: 20%;
    }

    .logo-box {
        width: 20%;
    }
}

@media all and (min-width: 992px) {
    .navbar ,
    .main{
        width: 80%;
    }
}